.app {
  text-align: center;
  background: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 47vh;
  height: 47vh;
  gap: 7px;
}

.grid-item {
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.4), 0px 7px 10px rgba(0, 0, 0, 0.2);
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  border-radius: 5px;
}

.get-signal {
  width: "50vh";
  margin-top: "20px";
  padding: "15px 30px";
  font-size: "1.5rem";
  border-radius: "10px";
  background-color: "teal";
  color: "white";
  border: "none";
  cursor: "pointer";
  box-shadow: "0px 30px 80px -20px rgba(255, 255, 255, 0.25);";
}

.get-signal:hover {
  background-color: darkcyan;
}

button {
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #145c58; /* Темнее цвет */
  transform: scale(0.98); /* Сделать кнопку немного меньше */
  opacity: 0.7;
}

/* Дополнительный стиль для текста */
button:disabled {
  opacity: 0.5;
}
